node_modules
vendor
.git
.idea
.vscode
storage/logs/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
phpunit.xml
public/hot
public/storage
